<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: 'Log in' }) %>
</head>
<body>
    <div class="container">
        <div class="auth-box">
            <h1>Welcome Back</h1>
            
            <%- include('../partials/_messages') %>
            
            <form action="/auth/login" method="POST" class="auth-form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input 
                        type="text" 
                        id="username" 
                        name="username" 
                        required
                        placeholder="Your username">
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input 
                        type="password" 
                        id="password" 
                        name="password" 
                        required
                        placeholder="Your password">
                </div>
                
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
            
            <p class="auth-link">Don't have an account? <a href="/auth/signup">Sign up</a></p>
        </div>
    </div>
</body>
</html>